<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@200&family=Lobster&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>

</head>

<body>
    <script>
        function init() {
document.getElementById("email").value = "";
}
window.onload = init;
    </script>
    <!--==========================
    Header
  ============================-->
<!-- header section starts -->
<%- include('../partials/navbar') %>
<!-- header section ends -->
<div>
<div class="loginlabel"> <h1>LOGIN</h1> </div>
<div class="main"> 
    <form action="/login" method="POST" autocomplete="off"> 
        <% if(messages.error){ %>
            <span style="color: red; font-size: 18px;font-weight: 700;"><%= messages.error %></span>
        <% }%>
        <h2 class="labels">Email id</h2> 
        <input id="email" class="inputfield" type="text" name="email" value="" required>
        <h2 class="labels">Password</h2> 
        <input id="password" class="inputfield" type="password" name="password" value="" required>
        <input class="button" type="submit" name="login" value="Login">        
    </form>
</div>
</div>  
</body>
</html>
