<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@200&family=Lobster&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
</head>

<style>
  div.content {
  margin-left: 200px;
  padding: 70px 80px;
  height: 100%;
}
</style>
<body>
    <!--==========================
    Header
  ============================-->
<!-- header section starts -->
<%- include('../partials/navbar') %>
<%- include('../hotel/manager') %>
<!-- header section ends -->
<div class="content">
<h1 style="font-size: 45px; color:rgb(255, 255, 255)"><b><u>Welcome to Hotel Automation Portal</u></b></h1>
<br><br>
<div style="background-color:#3a2727c4">
<p style="font-size: 35px; color:rgb(255, 255, 255)"><b> App which keeps you away from the burden of managing records of customer orders both completed as well as new orders, provides feature of adding new staff members, raw materials management etc.</b></p>
<br>
<p style="font-size: 35px; color:rgb(255, 255, 255)"><b>Wish you a happy and prosperous life ahead.....</b></p>
</div>
</div>
</body>
</html>